<div class="row">
  <div class="col-md-4">
    <%= render 'transactions/table', transactions: @recent_transactions, admin: true %>
  </div>
  <div class="col-md-4">
    <%= render 'accounts/table', accounts: @recent_accounts, admin: true %>  </div>
  <div class="col-md-4">
    <%= render 'table', model: @recent_users %>
  </div>
</div>