<div class="row">
  <div class="col-md-4">
<%= pie_chart @positive_accounts.select(:id, :balance) %>
    <%= render 'accounts/table' %>
  </div>
  <div class="col-md-8">
    <%= render 'transactions/table', transactions: @recent_transactions %>
  </div>
</div>