<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h3>Soldes des comptes</h3>
    <%= pie_chart @positive_accounts.group(:number).sum(:balance),
                  width: "50%", colors: ApplicationHelper::COLORS
    %>
    <%= render 'accounts/table' %>
  <div>
    Solde total: <%= @current_user.accounts.sum(:balance) %>
  </div>
  </div>

  <div class="col-md-4">
    <%= render 'transactions/table', transactions: @recent_transactions %>
  </div>
</div>