<div class="row fill">
  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-4 col-sm-5 col-xs-5">
    <div>
    <img alt="Banque" src="/assets/logo.png" />
    </div>
    <div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu hendrerit eros, finibus dignissim tortor. Fusce finibus, elit ac condimentum consectetur, nulla nisl molestie justo, et elementum massa mauris blandit odio. Sed ultrices lacus vitae accumsan feugiat. Maecenas eros libero, sodales quis tortor sed, congue dignissim elit. Integer luctus consequat metus, non iaculis dolor malesuada cursus. Nunc mattis pulvinar ipsum, ac imperdiet nunc. Aliquam pulvinar condimentum neque, a sodales purus tempor in. Cras a viverra lectus.</p>

      <p>Cras in euismod ante. Quisque tristique vulputate ipsum, a tristique libero commodo et. Suspendisse placerat felis nec neque hendrerit molestie. Nullam sit amet turpis mi. Ut id arcu hendrerit dolor tempor dictum. Aliquam id iaculis risus. Donec eget felis eu libero pharetra tristique eu at augue. Donec sit amet facilisis nibh. Nulla suscipit eu justo ut faucibus. Donec consectetur consectetur leo, ut volutpat magna vehicula id. Ut tempus enim a lectus tincidunt, in pulvinar neque tempor. Praesent sit amet odio blandit, semper nunc et, vehicula mi. In sit amet ultricies erat. </p>
    </div>
  </div>
  <div class="col-md-2 col-sm-1 col-xs-1"></div>
  <div class="col-md-2 col-sm-3 col-xs-5 login_form">
    <div style="height:10em; width:100%"></div>
    <%= render 'login_form' %>
  </div>
</div>
