@import "bootstrap";
/*
 *= require rails_bootstrap_forms
 */
html, body { min-height: 100%; height: 100%; }

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.fill {
  min-height: 100%; height: 100%;
}

.vcenter {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.margin-bar {
  height:5em;
  width:100%;
}

.mini-margin-bar {
  height: 2em;
  width:100%;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.clickable:hover {
  cursor:pointer;
}

@media screen and (max-width: 800px) {
  div[class*="col-sm"]:not(:first-child) { padding-left:7px; }
  div[class*="col-sm"]:not(:last-child) { padding-right:7px; }
}

@media print{
    body {
      background: #FFF;
    }
    .no-print {
      display: none;
    }
}


.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
