<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-offset-3">
  <h1>Listing Transactions</h1>

  <%= link_to 'New Transaction', new_transaction_path if session[:admin_id]%>

  <%= render 'table' %>
  <%= paginate @transactions, :theme => 'twitter-bootstrap-3' %>
</div>

