<% column_names   = local_assigns[:model].first.attributes.keys||local_assigns[:col_names] %>
<% end_span       = local_assigns[:end_span]||0 %>
<% end_columns    = local_assigns[:accept_reject]||[] %>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <% column_names.each do |name| %>
      <th><%= name %></th>
    <% end %>
    <%= "<th colspan=\"#{end_span}\"></th>" unless end_span == 0 %>
  </tr>
  </thead>

  <tbody>
      <% local_assigns[:model].each do |e| %>
        <tr>
          <% e.attributes.values.each do |v| %>
            <td><%= v %></td>
          <% end %>
          <% end_columns.each do |c|%>
            <td><%= c %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
