<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
  <h1>Vos comptes</h1>
  <%= link_to 'Ouvrir un compte', new_account_path %>
  <%= render 'table' %>
  <%= paginate @accounts, :theme => 'twitter-bootstrap-3' %>
  <br>
</div>

